{% extends 'base.html' %}

{% block body %}
    <div class='grid1'>
        <div class="square-gradient1">
            <p class="text-title">Cloud Infrastructure with AWS</p>
            <p class="text-subtitle">Cloud Computing for Apps</p>
        </div>
    </div> 



    <style>
        .grid1 {
            display: grid;
            grid-template-columns: repeat(3, 300px 200px);
            grid-column-gap: 10%;
            margin-top: 5%;
            margin-bottom: 10%;
            /* grid-auto-flow: row; */
        }

        .grid1 .square-gradient1 {
            grid-column: 1;
            margin-left: 48%;
        }
        .square-gradient1 {
        width: 1150px;
        height: 200px;
        background: linear-gradient(45deg, #3cc2b0, #3b58ff, #a368f0);
        border-radius: 8px;
        opacity: 1;
        transition: 0.5s;
        border: none;
        }

        .square-gradient1 .text-title {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            top: 70%;
            left: 5%;
            border: none;
        }

        .square-gradient1 .text-subtitle {
            color: #FFFFFF;
            font-size: 16px;
            position: relative;
            top: 60%;
            left: 5%;
            border: none;
        }
    </style>
{% endblock %}